<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codewars.tuigroup.com.codewars">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CodewarsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.search.SearchUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Codewars.SearchUser"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.challenges.UserChallengesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Codewars.UserChallenges" />
        <activity
            android:name=".ui.challenge.ChallengeDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Codewars.ChallengeDetails" />
    </application>

</manifest>